<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/slide1.png" >

      <div class="slider-text">
        <h2>Easy Exchange!</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/slide2.png" >

      <div class="slider-text">
        <h2>Easy to Use!</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/slide3.png" >

      <div class="slider-text">
        <h2>Connect with Others</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <ion-button color="primary">GET STARTED</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
